.main{
	background-color: #ccc;
}
/* post css*/
.part{
	width: 60%;
	height: 250px;
	margin: auto;
	font-size: 20px;
	background-color: #33F6;

}
.title{
	list-style: none;
}
.mypost{
	float: right;
}
/* comment css*/
.comment{
	width: 60%;
	height: auto;
	margin: 60px;
	font-size: 20px;
	background-color: #ccc;

}
.navs{
	background-color: #33F6;
}